// Place all the styles related to the Invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.range-query{
    float: right;
}
.mdl-textfield{
    width: auto !important;
}

.check {
    color: green;
}

.remove {
    color: #DB0707;
}

i.icon, i.icons {
    font-size: 1.5em !important;
}
